@import "../../../styles/variables";

.tag-cloud{
  text-align: center;
  font-size: 3rem;

  @media screen and (min-width: @screen-lg) {
    font-size: 6rem;
  }
}

.tag-cloud-item{
  padding: @spacing;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  animation: fadeIn 1s linear forwards;
  display: block;

  @media screen and (min-width: @screen-lg) {
    margin: @spacing-sm;
    display: inline-block;
  }
}

@keyframes fadeIn {
  0% {
    color: rgba(255, 255, 255, 0)
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}
