@import "../variables";

.btn{
  display: block;
  padding: @spacing @spacing-lg;
  outline: 0;
  cursor: pointer;
  background-color: @btn-bg;
  border: none;
  border-radius: 0;
  color: @color-light;
  font-family: @font-family;
  line-height: 1;
  margin: @spacing auto;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all .2s ease-in-out;
}
