@import "../variables";

.btn{
  display: block;
  padding: @spacing @spacing-lg;
  outline: 0;
  cursor: pointer;
  background-color: #96969b;
  border: none;
  border-radius: 1000px;
  color: #fff;
  font-family: Arial,sans-serif;
  line-height: 1;
  min-width: 140px;
  margin: @spacing auto;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all .2s ease-in-out;

  &:hover{
    background-color: #ff4600;
  }
}
