@import "../../../styles/variables";

.app-loader{
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  color: @color-dark;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-size: @font-size-lg;

  @media screen and (min-width: @screen-lg) {
    font-size: @font-size-xl;
  }

  &.is-loading{
    display: table;
  }
}

.app-loader-inner{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
